@import "tailwindcss";

@theme inline {
  --font-neue-haas-grotesk-display: var(--font-neue-haas-grotesk-display);
  --font-pp-fraktion-mono: var(--font-pp-fraktion-mono);

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}


@theme {
  --color-primary: #d5f959;
  --color-mono-0: #fff;
  --color-mono-400: #ceced4;
  --color-mono-450: #96969B;
  --color-mono-600: #393739;
  --color-mono-700: #171315;
  --color-mono-800: #000;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--color-mono-0);
}

body {
  font-family: var(--font-neue-haas-grotesk-display);
  font-weight: 500;
  color: var(--color-mono-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
