.marquee {
  width: 100vw;
  align-self: center;
  overflow-x: hidden;
  padding: 8px 0;
  background-color: #000;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-family: "ProtoMono";
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    display: flex;
    align-items: center;

    .marquee__dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 16px;
      flex-shrink: 0;
    }
  }

  &__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
  }
}
