.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 24px;
  border-radius: 8px;
  gap: 8px;
  border: 2px solid transparent;

  p {
    color: #000;
    font-family: "ProtoMono";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }

  &_light {
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }

  &_light:hover {
    background-color: #cfcfd3;

    p {
      color: #000;
    }
  }

  &_light:active {
    background-color: #cfcfd31a;
    border-color: #cfcfd366;

    p {
      color: #fff;
    }
  }

  &_dark {
    background-color: #000;
    transition: all 0.2s ease-in-out;

    p {
      color: #fff;
    }
  }

  &_dark:hover {
    background-color: #5d5d64;

    p {
      color: #fff;
    }
  }

  &_dark:active {
    background-color: #5d5d641a;
    border-color: #5d5d6466;

    p {
      color: #000000;
    }
  }

  &_dark.loading {
    background-color: #5d5d641a;
    border-color: #5d5d6466;

    p {
      color: #000000;
    }
  }

  &_darkDisabled {
    pointer-events: none;
    background-color: #000;
    p {
      color: #393739;
    }
  }
  &.darkDisabled.loading {
    p {
      color: #d5f959;
    }
  }

  &_accent {
    background-color: #d5f959;
    transition: all 0.2s ease-in-out;
  }

  &_accent:hover {
    background-color: transparent;
    border-color: #d5f959;

    p {
      color: #d5f959;
    }
  }

  &_accent:active {
    transition: all 0.1s ease-in-out;
    background-color: #d6f95950;

    p {
      color: #d5f959;
    }
  }

  p {
    font-family: "ProtoMono";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }
}

.loadingIcon {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  pointer-events: none;
}
