@import "tailwindcss";

@theme {
  --color-primary: #d5f959;
  --color-mono-800: #000;
  --color-mono-700: #171315;
  --color-mono-400: #ceced4;
  --color-mono-0: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "SFProDisplay";
  color: var(--color-mono-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image:
    repeating-linear-gradient(to bottom, #fbfbfb 0 8px, transparent 8px 16px),
    repeating-linear-gradient(to right, #c7c7ce 0 1px, transparent 1px 150px);
  background-size: 150px 16px;
  background-color: #fbfbfb;
  background-position: 60px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

section {
  width: 100%;
  scroll-margin-top: 40px;
}

.root {
  position: relative;
  z-index: 1;
}

.br-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .br-hidden {
    display: block;
  }
}
